body {
  background-color: #333333;
  font-family: 'Caveat', sans-serif, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  transition: 0.3s all;
  box-sizing: border-box;
  opacity: 0;
}

a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  padding-top: 10px;
  text-decoration: none;
}

a:hover,
a:focus {
  opacity: 0.6;
}

.o-lyrics {
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  height: 200px;
  left: 0px;
  text-align: left;
  margin-top: -100px;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transition: 0.3s all;
  width: 100%;
  z-index: 1337;
}

@media screen and (min-width: 60em) {
  .o-lyrics {
    font-size: 3.5rem;
    height: 500px;
    left: 50%;
    margin-left: -512px;
    margin-top: -250px;
    width: 1024px;
  }
}
@font-face {
  font-family: 'Caveat';
  src: url('https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofINeaB.woff2') format('woff2');
}